@font-face {
  font-family: "Spiegel";
  src: url("../fonts/Spiegel-Regular.otf") format("opentype");
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Spiegel", sans-serif;
  font-size: 16px;
  line-height: 1.15;
}

body {
  min-height: 100vh;
  background-image: url("../assets/arcane_bg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
